body { 
	background: url(../../assets/images/paper_fibers.png);
	margin: 0px;
	padding: 0px;
}

.main-headerbox { 
	width: 100%;
	background-color: #ffffff;
	border: 2px solid #cccccc;
	height: 73px;
	color: white;
	position: absolute;
}

.main-headerbox h1 { 
	text-align: center;
	background-color: #4aaaa5;
	width: 250px;
	height: 85px;
	line-height: 85px;
	color: white;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	margin-left: 140px;
	margin-top: -10px;
	float: left;
    }

.main-headerbox li { 
    float: left;
    font-size: 18px;
    color: #4aaaa5;
    padding-left: 7px;
    padding-right: 7px;
}

.main-headerbox ul {
    list-style-type: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-right: 270px;
    margin-top: 22px;
    /*display:inline-block; REMOVE IF NOT NEEDED*/
    float:right;
}

.separator {
	opacity: .2;
}

.links {
	color: #4aaaa5;
	text-decoration: none;
}

.container {
	overflow: auto;
}

.main-section {
	background-color: #ffffff;
	width: 630px;
	min-height: 440px;
	height: auto;
	padding: 5px;
	border: 1px solid #dddddd;
	margin-top: 100px;
	margin-left: 140px;
	float: left;
}

.main-section h1 {
	margin-left: 22px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	float: left;
}

.main-section hr {
	opacity: 0.4;
	background-color: #4aaaa5;
	width: 580px;
	height: 2px;
	margin-left: 22px;
	margin-bottom: 20px;
}

.main-section form {
	margin-left: 22px;
	font-size: 18px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	float: left;
}

.info {
	opacity: 0.4;
	padding: 5px 5px 5px 5px; 
	width: 568px;
	margin-bottom: 15px;
}

.submitButton {
	text-align: center;
	background-color: #4aaaa5;
	width: 100px;
	height: 30px;
	color: white;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 14px;
	position: absolute;
}

.me img {
	width: 25%;
	height: auto;
	margin-left: 22px;
}

.me p {
	/*margin-left: 205px;
	margin-top: -168px;
	padding-right: 20px;*/
	margin: -168px 23px 0px 205px;
	line-height: 175%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #777777;
}

.randomimg img {
	height: 206px;
	width: 275px;
	padding: 10px 5px 10px 0px;
	margin-left: 23px;
	position: relative;
}

.sidebar {
	background-color: #ffffff;
	width: 270px;
	height: 190px;
	padding: 5px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	border: 1px solid #dddddd;
	margin-top: 100px;
	margin-right: 255px;
	float: right;
}

.sidebar h2 {
	margin-left: 20px;
}

.sidebar hr {
	opacity: 0.2;
	background-color: #4aaaa5;
	width: 225px;
	margin-bottom: 20px;
	color:;
}

.images {
	width: 250px;
	margin-left: 18px;
	overflow: hidden;
	float: left;
}

.images img {
	width: 75px;
	height: 75px;
}

.bottom-footer {
	height: 65px;
    width: 100%;
    margin-top: 925px;
	left: 0;
	right: 0;
    bottom: 0;
    text-align: center;
    border-top: 7px solid #4aaaa5;
    background: #666666;
    color: white;
	/*text-align: center;
	width: 100%;
	background: #666666;
	border-top: 7px solid #4aaaa5;
	height: 65px;
	color: white;
	margin-top: 500px;*/
}

.bottom-footer p {
	padding-top: 15px;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 10px;
}

#label1 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 332px;
    left: 169px;
}

#label2 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 332px;
    left: 476px;
}

#label3 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 562px;
    left: 169px;
}

#label4 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 562px;
    left: 476px;
}

#label5 {
	text-align: center;
    background-color: #4aaaa5;
    width: 275px;
    height: 62px;
    line-height: 62px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    color: white;
    position: absolute;
    top: 791px;
    left: 169px;
}